@*@model RentCars.Web.ViewModels.Cars.CarsLstinViewtModel*@
@{ ViewData["Title"] = "Home Page"; }

@*<div class="text-center">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Renten - Car Rental Service HTML Template</title>
    <!-- site favicon -->
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.jpg" />
    <!-- fontawesome css link -->
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <!-- bootstrap css link -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- lightcase css link -->
    <link rel="stylesheet" href="assets/css/lightcase.css">
    <!-- animate css link -->
    <link rel="stylesheet" href="assets/css/animate.css">
    <!-- nice select css link -->
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <!-- datepicker css link -->
    <link rel="stylesheet" href="assets/css/datepicker.min.css">
    <!-- wickedpicker css link -->
    <link rel="stylesheet" href="assets/css/wickedpicker.min.css">
    <!-- jquery ui css link -->
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css">
    <!-- owl carousel css link -->
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <!-- main style css link -->
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>

    <!-- preloader start -->
    <div id="preloader"></div>
    <!-- preloader end -->
    <!--  header-section start  -->
    <!--  header-section end  -->
    <!-- banner-section start  -->
    <!-- banner-section end  -->
    <!-- search-section start -->
    <!-- search-section end -->
    <!-- features-section start -->
    <section class="banner-section banner-section--style2 bg_img" data-background="/assets/images/banner.jpg">
        <div class="banner-el-img"><img src="/assets/images/elements/banner-man.png" alt="image"></div>
        <partial name="_SearchCarsPartial" model="@Model" />
    </section>
    <!-- banner-section end  -->
    <!-- about-section start -->
    <section class="about-section pt-120 pb-120">
        <div class="element text-center"><img src="/assets/images/elements/car2.png" alt="image"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="block-area">
                        <div class="block-header">
                            <h2 class="title">We are Best RentCars Company to Find Car</h2>
                            <p> RentCars is the leading national car rental company in Bulgaria. We operate with the fleet in the country, which currently consists of over cars, 90% of which are brand new or up to 3 years old. We offer national coverage of the service through a chain of over service offices in the country .</p>
                        </div>
                        @*<div class="block-body">
                            <ul class="cmn-list">
                                <li>Dolorum dictum blandit</li>
                                <li>Scel erisque eiusmod</li>
                                <li>Accumsan suspendisse</li>
                                <li>Accumsan suspendisse</li>
                                <li>Massa nontellus incididunt</li>
                                <li>Perspiciatis sollicitudin enim </li>
                            </ul>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-section end -->
    <!-- counter-section start -->
    <div class="counter-section bg_img overlay-main" data-background="assets/images/bg1.jpg">
        <div class="container">
            <div class="row mb-none-30">
                <div class="col-lg-3 col-sm-6">
                    <div class="counter-item counter-item--style2">
                        <div class="icon">
                            <i class="fa fa-car"></i>
                        </div>
                        <div class="content">
                            <span class="counter">3497</span>
                            <span class="title">total car</span>
                        </div>
                    </div>
                </div><!-- counter-item end -->
                <div class="col-lg-3 col-sm-6">
                    <div class="counter-item counter-item--style2">
                        <div class="icon">
                            <i class="fa fa-smile-o"></i>
                        </div>
                        <div class="content">
                            <span class="counter">4574</span>
                            <span class="title">happy customer</span>
                        </div>
                    </div>
                </div><!-- counter-item end -->
                <div class="col-lg-3 col-sm-6">
                    <div class="counter-item counter-item--style2">
                        <div class="icon">
                            <i class="fa fa-truck"></i>
                        </div>
                        <div class="content">
                            <span class="counter">1454M</span>
                            <span class="title">travel time</span>
                        </div>
                    </div>
                </div><!-- counter-item end -->
                <div class="col-lg-3 col-sm-6">
                    <div class="counter-item counter-item--style2">
                        <div class="icon">
                            <i class="fa fa-puzzle-piece"></i>
                        </div>
                        <div class="content">
                            <span class="counter">9443</span>
                            <span class="title">solution</span>
                        </div>
                    </div>
                </div><!-- counter-item end -->
            </div>
        </div>
    </div>
    <!-- counter-section end -->
    <!-- footer-section end -->
    <!-- scroll-to-top start -->
    <div class="scroll-to-top">
        <span class="scroll-icon">
            <i class="fa fa-rocket"></i>
        </span>
    </div>
    <!-- scroll-to-top end -->
    <!-- jquery js link -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <!-- jquery migrate js link -->
    <script src="assets/js/jquery-migrate-3.0.0.js"></script>
    <!-- bootstrap js link -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- lightcase js link -->
    <script src="assets/js/lightcase.js"></script>
    <!-- wow js link -->
    <script src="assets/js/wow.min.js"></script>
    <!-- nice select js link -->
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <!-- datepicker js link -->
    <script src="assets/js/datepicker.min.js"></script>
    <script src="assets/js/datepicker.en.js"></script>
    <!-- wickedpicker js link -->
    <script src="assets/js/wickedpicker.min.js"></script>
    <!-- owl carousel js link -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- jquery ui js link -->
    <script src="assets/js/jquery-ui.min.js"></script>
    <!-- main js link -->
    <script src="assets/js/main.js"></script>
</body>

</html>